/*
Buen manejo de CSS y selectores. Hubo pequeños errores de identación.
Los nombres de los selectores fueron adecuados.
*/

* {
  font-family: Helvetica;
}
body {
  background-image: url(background.webp);
  background-color: #cccccc;
}
h1 {
  color: greenyellow;
}
.navbar {
  background-color: rgba(240, 255, 240, 1);
}
.banner-header {
  margin-top: 70px;
  text-align: center;
  font-size: calc(12px + 4.5vw);
  border-radius: 100px;
  background-color: rgba(240, 255, 240, 0.8);
  margin-bottom: 80px;
}

.cyan-color {
  font-weight: bold;
  color: rgb(9, 174, 172);
}

.card-img {
  width: 100%;
  height: 25vw;
  object-fit: cover;
}

.card {
  font-size: calc(12px + 0.5vw);
}

.card-title {
  font-size: calc(12px + 0.5vw);
}
.card h2 {
  font-size: calc(12px + 2.5vw);
}
.academic {
  background-color: rgba(240, 255, 240, 0.95);
}
.academic p {
  font-size: calc(12px + 1vw);
  text-align: justify;
  margin-right: calc(5px + 6vw);
}
.academic img {
  max-width: calc(12px + 45vw);
  float: left;
  border-radius: 100px;
}

#acad img {
  margin-right: calc(5px + 6vw);
  width: calc(12px + 30vw);
  height: calc(12px + 15vw);
  object-fit: cover;
}

.transition {
  margin-top: 60px;
  margin-bottom: 60px;
  font-size: calc(12px + 3.5vw);
  text-align: center;
  max-width: calc(12px + 100vw);
}
.accordion img {
  height: 100%;
  width: 25vw;
  object-fit: cover;
}
.carousel .card {
  text-align: center;
  max-width: 540px;
  margin: 0 auto;
  height: calc(500px + 15vw);
  background-color: rgba(240, 255, 240, 0.8);
}

.hobbies h1 {
  margin: 0 auto;
}

.hobbies .card {
  width: 95%;
  margin: 0 auto;
  background-color: rgba(240, 255, 240, 1);
  text-align: center;
}

.hobbiesvideo {
  height: calc(12px + 50.5vw);
}

.footer {
  font-size: calc(12px + 0.5vw);
  margin-top: 50px;
  background-image: url("footer.jpg");
  text-align: center;
  height: 100px;
}

.contact {
  background-color: rgba(240, 255, 240, 0.95);
  margin: 0 auto;
}
.contact-in {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
}
.icon {
  height: 2vw;
  width: 2vw;
  object-fit: cover;
}
